:root {
  --off-white: #fafafa;
}
.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section {
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.tile-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.tile-content > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.title {
  grid-row: 1/1;
}

.place {
  grid-row: 1/2
;
}
.date {
  grid-row: 2/2;
}

.location {
  grid-row: 3/3;

  
}

.description {
  grid-row: 2/4;

}

.Profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.Picture > img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  border-radius: 40%;
}

.About{
  margin-right: 2rem;
  max-width: 300px;
}

.Details{
  margin-left: 2rem;
  max-width: 300px;
}

.contactInfo{
  display: flex;
  float: left;
  justify-content: space-between;
  margin-bottom: 500px;

}

.FacebookPicture > img {
  display: flex;
  float: right;
  justify-content: space-between;
  align-items: center;
  max-width: 50px;
  max-height: 50px;
  border-radius: 0%;
}

.GitlabPicture > img {
  display: flex;
  float: right;
  justify-content: space-between;
  align-items: center;
  max-width: 50px;
  max-height: 50px;
  border-radius: 0%;
}

.InstagramPicture > img {
  display: flex;
  float: right;
  justify-content: space-between;
  align-items: center;
  max-width: 50px;
  max-height: 50px;
  border-radius: 0%;
}